body{
    margin: 0%;
    background-color: #3498db;
}

.box{
    width: 300px;
    height:350px;
    padding: 15px;
    border-radius: 23px;
    background-color: #000000;
    }
.boxPlanilha{
    width: 600px;
    padding: 15px;
    border-radius: 23px;
    background-color: #000000;
    text-align: center;
}
.boxPlanilha table{
    border-radius: 10px;
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}
.boxPlanilha th{
    background-color: #3498db;
}
.boxPlanilha td{
    border-top: 1px solid black;
    border-right: 1px solid black;
}
#th1{
    border-radius: 10px 0px 0px  0px;
}
#th2{
    border-radius: 0px 10px 0px  0px;
}
.checkbox{
    display: inline;
    width: 30%;
    color: white;
}
.checkbox input[type="checkbox"]{
    width: 15px;
}
   
.container{
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container input{
    width: 89%;
    padding: 8px;
    margin: 8px;
    border: 0;
    border-radius: 23px;
    outline: 0;
}
.container input:hover{
    border: 2px solid #3498db;
}
.meio{
    width: 107%;
}

#botaoCadastro {
    border-color: #3498db;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
#botaoCadastro:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
.box nav{
    text-align: center;
 
}
.box a{
    color: white;
    font-size: 15px;
}
.boxPlanilha a{
    color: white;
    font-size: 15px;
}
#pesquisa{
    border-radius: 35px;
}
#anuncioPesquisa{
    color: white;
    margin: 0;
}
#planilha{
    margin-top: 10px;
}